{% extends "network/new_layout.html" %}
{% load static %}
{% block body %}

                <h1>All posts:</h1>
                {% include 'network/create_post_form.html' %}<br>
                {% for post in posts %}
    <div class="post" data-post_id="{{post.id}}">
        <div class="main">
        <span class="username"><a href="{% url 'profile' post.user.id %}"><strong>{{post.user.username}}</strong></a></span>
        <span class="email">{{post.user.email}} on {{post.date}}</span>
        {% if post.user == request.user %}
        <button class="edit_button btn btn-light" >edit post</button>
        {% endif %}
        <p>{{post.body}}</p>
        <span class="likes">
        {% if user not in post.likes.all %}
        <img class="like" src="{% static 'network/images/suit-heart.svg' %}" alt="empty heart" data-post_id="{{post.id}}">
        {% else %}
        <img class="like" src="{% static 'network/images/suit-heart-fill.svg' %}" alt="filled heart" data-post_id="{{post.id}}">
        {% endif %}
        <span class="amount">{{post.likes.count}}</span>

        </span>
            <span class="comment">comment</span>
        </div>
        

    </div>
    {%endfor%}


{% endblock %}