{% extends 'network/new_layout.html' %}
{% load static %}
{% block title %}Following Page{% endblock %}
{% block body %}
 <h1>{{person.username}}'s Profile</h1>
<div class="profile_pic">
      <img src="{{person.profile_image}}" class="profile_img" alt="profile picture" height="200px" width="200px">
    {% if request.user == person %}
    <br>
    <div class="edit_profile_div">
        <form action="{% url 'edit_profile_img' %}" style="display:none;">
            <input type="text" placeholder="URl for picture:" name="url">
            <input type="hidden" value="{{person}}" name="person">
            <input type="submit">
        </form>    
    <a href="#" class="edit_profile_img"style="color:black">Edit Profile Image</a>
    </div>    
    {% endif %}
</div>
<br>
      <p>{{person.following.count}} <span class="text_grey">Following </span>{{person.followers.count}} <span class="text_grey">Followers</span></p>
      <p class="text_grey">Joined {{person.date_joined|date:"F Y"}}</p>
      {% if request.user.is_authenticated %}

      {% if request.user != person %}
      {% if follower %}
      <p class="text_grey">You've been following since: {{follower.created|date:"M d Y"}}</p>
      <a href="{% url 'follow' profile_id=person.id special_key=1 %}"><button >Unfollow</button></a>
      {%else%}
      <a href="{% url 'follow' profile_id=person.id special_key=2 %}"><button >Follow</button></a>
      {% endif %}
<!--      my own page-->
      {% else %}
      <h6>All your posts below:</h6>
      {% endif %}
      {% endif %}
      <hr/>
      {% for post in page_obj %}
      <div class="post" data-post_id="{{post.id}}">
            <div class="main">
        <span class="username"><a href="{% url 'profile' post.user.id %}"><strong>{{post.user.username}}</strong></a></span>
          <span class="email">{{post.user.email}} on {{post.date}}</span>
          {% if post.user == user%}

          <button class="edit_button_profile btn btn-light" >edit post</button>
          {% endif %}
        <p>{{post.body}}</p>
        <span class="likes" style="margin-left:90%;">
        {% if user not in post.likes.all %}
        <img class="like" src="{% static 'network/images/suit-heart.svg' %}" alt="empty heart" data-post_id="{{post.id}}">
        {% else %}
        <img class="like" src="{% static 'network/images/suit-heart-fill.svg' %}" alt="filled heart" data-post_id="{{post.id}}">
        {% endif %}
        <span class="amount">{{post.likes.count}}</span>

        </span></div>
<!--        <span class="comment">comment</span>-->
    </div>
      {% endfor %}


    <ul class="pagination justify-content-center ">
          {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
          <span class="current">
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            </span>
          {% if page_obj.has_next %}
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
      </ul>
{% endblock %}

{% block right-sidebar %}

{% if request.user == person %}
      {% include 'network/create_post_form.html' %}
      {% endif %}

  {% endblock %}